{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RMBEBIDAS</title>
</head>
<body>
{% block nav %}
{{block.super}}
{% endblock nav %}

{% block conteudo %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<form method="POST" action="{% url 'rmbebidas:defbtneditusuario' FUNCIONARIO.usu_codigo %}">
			  {% csrf_token %}
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="inputEmail4">Nome</label>
			      <input type="text" class="form-control" id="inputEmail4" placeholder="Nome" required name="nome" value="{{FUNCIONARIO.usu_nome}}">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="inputPassword4">Sobrenome</label>
			      <input type="text" class="form-control" id="inputPassword4" required placeholder="Sobrenome" name="sobrenome" value="{{FUNCIONARIO.usu_sobrenome}}">
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="inputPassword4">Email</label>
			      <input type="text" class="form-control" id="inputPassword4" required placeholder="Email" name="email" value="{{FUNCIONARIO.usu_email}}">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="inputPassword4">Senha</label>
			      <input type="text" class="form-control" id="inputPassword4" required placeholder="Senha" name="senha" value="{{FUNCIONARIO.usu_senha}}">
			    </div>
			  </div>
			  <input type="submit" value="Salvar" class="btn btn-primary">
			</form>
		</div>

		<div class="col-md-4">
		</div>
	</div>
</div>

<div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
	{{getERROR4}}
</div>
{% endblock conteudo %}

</body>
</html>